docker/.env.example text eol=lf
docker/Dockerfile text eol=lf
docker/Dockerfile-* text eol=lf
docker/*.dockerignore text eol=lf
docker/docker-compose.yml text eol=lf
docker/init.sh text eol=lf
docker/init-freeradius.sh text eol=lf
docker/apache/*.conf text eol=lf
